{{ define "title" }}CS2 ServerManager{{ end }}

{{ define "main" }}
  <div class="flex w-full flex-col items-center gap-8 px-4 py-8">
    <div
      id="mainTableDiv"
      class="relative flex h-[150px] w-full flex-col gap-2 rounded-md border border-gray-700 p-4"
    >
      <p class="absolute -top-3 bg-gray-700 p-1 text-xs">ServerList</p>
      <button
        id="serverListBtn"
        class="absolute -top-3 right-4 w-fit cursor-pointer bg-orange-400 px-2 py-1 text-xs font-bold text-black hover:font-extrabold"
        onclick="openServerDialog()"
      >
        Manage Servers
      </button>
      <svg
        viewBox="0 0 400 400"
        xmlns="http://www.w3.org/2000/svg"
        class="animate-spin"
      >
        <circle
          cx="200"
          cy="200"
          fill="none"
          r="50"
          stroke-width="20"
          stroke="#AA3300"
          stroke-dasharray="120 1400"
          stroke-linecap="round"
        />
      </svg>
    </div>
    <div id="rcondiv" class="flex w-full justify-center"></div>
  </div>

  <!--Manage-Server-Dialog-->
  <dialog
    id="serverDialog"
    class="m-auto h-[70vh] w-[30vw] backdrop:bg-black/80"
  ></dialog>

  {{ template "manageServerDialogTemplate" }}

  {{ template "manageAddServersDialogTemplate" }}

  {{ template "mainTableTemplate" }}

  {{ template "rconPanelTemplate" }}

  {{ template "rconEmptyTemplate" }}
{{ end }}
