{{ define "manageServerDialogTemplate" }}
  <template id="manageServerDialogTemplate">
    <div
      class="relative flex h-full w-full flex-col items-center gap-4 bg-gray-950 p-4 text-sm text-white"
    >
      <button
        class="absolute top-4 right-4 cursor-pointer"
        onclick="closeServerManagerModal()"
      >
        ✖️
      </button>
      <h3 class="text-lg font-bold">Manage Servers</h3>
      <div
        class="flex h-2/3 w-4/5 flex-col items-center overflow-scroll border border-gray-700"
      >
        <table id="serverManagerTable" class="w-full border-collapse">
          <thead class="bg-gray-900">
            <tr class="">
              <th class="border border-gray-700 px-1">Name</th>
              <th class="border border-gray-700 px-1">Serveraddress</th>
              <th class="border border-gray-700 px-1">Port</th>
              <th class="border border-gray-700 px-1">RCON-Password</th>
            </tr>
          </thead>
          <tbody></tbody>
        </table>
      </div>
      <div class="flex w-4/5 justify-between">
        <button
          class="cursor-pointer rounded-sm bg-red-800 px-2 py-1"
          onclick="deleteServerFromServerList()"
        >
          Delete
        </button>
        <button
          class="cursor-pointer rounded-sm bg-blue-800 px-2 py-1"
          onclick="editServerDialog()"
        >
          Edit
        </button>
        <button
          class="cursor-pointer rounded-sm bg-green-800 px-2 py-1"
          onclick="openAddServerDialog()"
        >
          Add
        </button>
      </div>
      <button
        class="cursor-pointer self-end rounded-sm bg-gray-700 px-2 py-1"
        onclick="closeServerManagerModal()"
      >
        Close
      </button>
    </div>
  </template>
{{ end }}
